<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="images/favicon.ico"> <!-- FreeFavicon.com -->
    
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>HELLO FRIENDS!</h1>

    <p>Here's some data! From https://www.balldontlie.io/#get-all-players </p>
    <div id="stat1">Stuff</div>
    <div id="stat2">Stuff</div>
    <div id="stat3">Stuff</div>
</body>
</html>